* {
  margin: 0;
  padding: 0;
}
.container-content {
  border: solid 1px blue;
  height: 100vh;
  width: 50%;
}
.header {
  border: solid 1px yellow;
  height: 15%;
  width: 100%;
}
.ad-container {
  width: 25%;
  height: 100vh;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
}
.template-container {
  display: flex;
  flex-direction: row;
}
.template-header {
  height: 10%;
  width: 100%;
  border: solid 1px green;
}
.template-footer {
  height: 10%;
  width: 100%;
  border: solid 1px green;
}
