.article-content {
  max-width:800px;
  margin-left: 32px;
  margin-right: 32px;

}
.template-article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #626872;
}

.article-title {
  color: #ededf1;
  font-size: 32px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.016em;
  max-width: 800px;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}
.article-content {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.003em;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,
    serif;
  word-break: break-word;
  font-weight: 400;
  color: #ededf1;
  padding-bottom: 56px;
}
.author-info {
  display: flex;
  flex-direction: row;
}
.article__container {
  height: 100vh;

  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.article__container::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (max-width: 1450px) {
  .article-content {
    max-width: 700px;
  }
  .article-title {
    max-width: 700px;
  }
}
@media screen and (max-width: 1080px) {
  .article-content {
    width: calc(100vw - 64px);
    padding-bottom: 56px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .article-title {
    max-width: 700px;
    width: calc(100vw - 64px);
  }
}
