:root {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,
      serif;
    -webkit-font-smoothing: antialiased;
    primary-text-color: #ededf1;
  }
  * {
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  